name: Docker CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # Шаг 1: Получить код из репозитория
      - name: Checkout repository
        uses: actions/checkout@v4

      # Шаг 2: Сборка Docker-образа
      - name: Build Docker image
        run: |
          docker build -t kubsh-test .
      
      # Шаг 3: Запуск контейнера и выполнение тестов
      - name: Run tests in container
        run: |
          docker run --rm kubsh-test
